---
title: Projects
layout: default
bg: /assets/images/Misc/background3.jpg
---

<!-- Project List -->
<div class="w3-content w3-container w3-padding-64">
    <h2 class="w3-center">PROJECT LIST</h2>
	<a class="w3-text-white" style="float:right;padding-right:10px" href="https://docs.google.com/viewer?url=https://github.com/Matt-Santos/Resume/releases/latest/download/Matthew_Santos_Projects.pdf">Print Version</a>
    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <a href="#research"><span class="w3-xlarge fa fa-book-open"></span><br>Research</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#electronics"><span class="w3-xlarge fa fa-microchip"></span><br>Electronics</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#restoration"><span class="w3-xlarge fa fa-wrench"></span><br>Restoration</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#programing"><span class="w3-xlarge fa fa-code"></span><br>Programing</a>
        </div>
    </div>

	<!-- Research Projects -->
	<hr style="border-top:5px solid #eee">
	<h3 id="research">Research</h3>
	<hr style="border-top:5px solid #eee">
	{% for project in site.projects %}
		{% if project.repositoryTopics | find: "name","research" %}
			{% echo project.repositoryTopics %}
			{% echo project.repositoryTopics | find: "name","research" %}
			{% echo if project.repositoryTopics | find: "name","research" %}
			{% include project_card.html data=project %}
		{% endif %}
	{% endfor %}
	
	<!-- Electronics Projects -->
	<hr style="border-top:5px solid #eee">
	<h3 id="electronics">Electronics</h3>
	<hr style="border-top:5px solid #eee">
	{% for project in site.projects %}
		{% if project.repositoryTopics | find: "name","electronics" %}
			{% include project_card.html data=project %}
		{% endif %}
	{% endfor %}
	
	<!-- Restoration Projects -->
	<hr style="border-top:5px solid #eee">
	<h3 id="restoration">Restoration</h3>
	<hr style="border-top:5px solid #eee">
	{% for project in site.projects %}
		{% if project.repositoryTopics | find: "name","restoration" %}
			{% include project_card.html data=project %}
		{% endif %}
	{% endfor %}
	
	<!-- Programing Projects -->
	<hr style="border-top:5px solid #eee">
	<h3 id="programing">Programing</h3>
	<hr style="border-top:5px solid #eee">
	{% for project in site.projects %}
		{% if project.repositoryTopics | find: "name","programming" | contains: "programming" %}
			{% include project_card.html data=project %}
		{% endif %}
	{% endfor %}
	
</div>
