<!-- Determine Status -->
{% if project.isPrivate == true -%}
	{% assign status = "PRIVATE" -%}
	{% assign status_color = "w3-red" -%}
{% elsif project.isArchived == true -%}
	{% assign status = "Archived" -%}
	{% assign status_color = "w3-green" -%}
{% elsif project.isTemplate == true -%}
	{% assign status = "Template" -%}
	{% assign status_color = "w3-blue" -%}
{% elsif project.isFork == true -%}
	{% assign status = "Forked" -%}
	{% assign status_color = "w3-cyan" -%}
{% else -%}
	{% assign status = "Active" -%}
	{% assign status_color = "w3-green" -%}
{% endif -%}

{% if status != "Forked" -%}
<div class="w3-card w3-content w3-container w3-padding w3-hover-shadow w3-hover-opacity w3-round-xlarge " style="height:400px;position:relative;overflow:hidden">
	<a href="https://Matt-Santos.github.io/projects/{{ include.data.name }}" style="position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0)"></a>
	<div class="w3-third">
		<img src="https://raw.githubusercontent.com/Matt-Santos/{{ include.data.name }}/refs/heads/main/documents/images/project.jpg" alt="{{ include.data.name }}" class="w3-round-xlarge w3-image">
		<div class="w3-quarter w3-center">
			<div class="fa-solid fa-star"> {{ include.data.stargazerCount }}</div><br>
			<div class="fa-solid fa-eye"> {{ include.data.watchers.totalCount }}</div><br>
			<div class="fa-solid fa-code-fork"> {{ include.data.forkCount }}</div>
		</div>
		<div class="w3-threequarter w3-center">
			Updated: {{ include.data.updatedAt | date: "%Y-%m-%d %H:%M" }}<br>
			Created: {{ include.data.createdAt | date: "%Y-%m-%d %H:%M" }}<br>
			Main Language: {{ include.data.primaryLanguage.name }}
		</div>
	</div>
	<div class="w3-twothird" style="padding-left:10px">
		<h3>{{ include.data.name }}</h3>
		<div style="overflow: hidden;display:-webkit-box;-webkit-line-clamp:11;-webkit-box-orient: vertical;">
			{% capture readme_include %}{% include {{ include.data.name }}/README.md %}{% endcapture %}
			{{ readme_include | markdownify %}}
		</div>
		<div class="w3-display-topright w3-round-xlarge {{ status_color }}" style="right:5px;top:8px">&nbsp;&nbsp; {{ status }} &nbsp;&nbsp;</div>
	</div>
</div>
{% endif -%}