html, body {
  height: 100%;
}

body {  
  background-color: #222; 
  padding:0px;  
  margin:0px;
  overflow:hidden;
  color: #fafafa;
}

main {
  position: relative;
  height: 100%;
  user-select: none;
  visibility: hidden;
}

#stage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
