---
layout: default
---
<!-- Obtain Project Index [i] -->
{% assign i = 0 %}
{% for project in site.data.repoData %}
	{% if project.name == page.title %}
		{% break %}
	{% else %}
		{% assign i = i | plus:1 %}
	{% endif %}
{% endfor %}

<div class="w3-container w3-padding-64">
	<img src="https://raw.githubusercontent.com/Matt-Santos/{{ page.title }}/refs/heads/main/documents/images/logo.png" class="w3-center"></img>
    <h2 class="w3-center">{{ site.data.repoData[i].description }}</h2>
	<a class="w3-text-white" style="float:right;padding-right:10px" href="https://docs.google.com/viewer?url=https://github.com/Matt-Santos/LaTeX-Workshop/releases/latest/download/Matthew_Santos_CV.pdf">Data Sheet</a>
    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <a href="#education"><span class="w3-xlarge fa fa-university"></span><br>Overview</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#certifications"><span class="w3-xlarge fa fa-certificate"></span><br>Documentation</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#awards"><span class="w3-xlarge fa fa-trophy"></span><br>Files</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#skills"><span class="w3-xlarge fa fa-microchip"></span><br>Gallery</a>
        </div>
    </div>
	
	<!-- Overview Section -->
	<div class="w3-content w3-container w3-padding-64" id="about">
	  <div class="w3-row">
		<div class="w3-col m6 w3-center w3-padding-large">
			<figure>
			  <img src="https://raw.githubusercontent.com/Matt-Santos/{{ page.title }}/refs/heads/main/documents/images/frame.png" class="w3-round w3-image" width="433">
			  <figcaption><b><i></i>{{ page.name }}</b></figcaption>
			</figure>
		</div>
		<div class="w3-col m6 w3-padding-large">
			<!--FileList -->
			<!-- 9x9 or 4x4 grid -->
		</div>
	  </div>
	</div>

	<!-- Documents -->
	
	<!-- Gallery -->
	{% capture galleryFolder %}"assets/images/projects/{{ page.title }}"{% endcapture %}
	{% include gallery_image.html folder=galleryFolder %}
	<!-- Releases -->
	
	<h1>{{ page.title }}</h1>
	<h1>{{ site.data.repoData[i].description }}</h1>
	<h1>{{ site.data.repoData[i].createdAt }}</h1>
	<h1>{{ site.data.repoData[i].forkCount }}</h1>
	<h1>{{ site.data.repoData[i].isArchived }}</h1>
	<h1>{{ site.data.repoData[i].isFork }}</h1>
	<h1>{{ site.data.repoData[i].isPrivate }}</h1>
	<h1>{{ site.data.repoData[i].isTemplate }}</h1>
	<h1>{{ site.data.repoData[i].primaryLanguage }}</h1>
	<h1>{{ site.data.repoData[i].stargazerCount }}</h1>
	<h1>{{ site.data.repoData[i].updatedAt }}</h1>
	<h1>{{ site.data.repoData[i].watchers }}</h1>
	<h1>{{ site.data.repoData[i].languages }}</h1>
	<h1>{{ site.data.repoData[i].repositoryTopics }}</h1>

</div>